<div class="jumbotron">
    <h1 class="display-4">Welcome to Blocipedia!</h1>
    
    <p class="lead">A place for you and your friends to collaborate using wikis</p>
    
    <hr class="my-4">
    
    <p>Powered by Rails, Fueled by You.</p>
    <p class="lead">
        <%if user_signed_in?%>
            <%="You are signed in as #{current_user.email}"%>
        <%else%>
            <%= link_to  "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg"  %>
        <%end%>
    </p>
</div>
